{% extends "layout.html.twig" %}

{% block title %}
Ma page
{{ parent() }}
{% endblock %}
{% block header %}
{{ parent() }}
{% endblock %}
{% block nav%}
{{ parent() }}
{% endblock %}

{% block content %}
    <main>
        <h1> {{user.prenom}}</h1>
    </main>
{% endblock %}