<html>
    <head>
        <meta charset="UTF-8">
	    <meta name="description" content="Site de jeux et d'activités pour jeune enfants">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="assets/styles/css/style.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3c515cc4da.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
    <div id= "cat404">
     <img src="assets/img/Miaou/404cat.png">
     <a href="?route=homepage">Retourner à la page Accueil du site Apprendre Avec Miaou</a>
     </div>
</html>



