<section id = "error_message">
{% set messageType = valids is defined and valids|length > 0 ? 'valids' : (errors is defined and errors|length > 0 ? 'errors' : (alert is defined and alert|length > 0 ? 'alert' : null)) %}
    {% if messageType %}
      <section id="{{ messageType == 'valids' ? 'valid' : (messageType == 'errors' ? 'errors' : 'alert') }}">
    <img src="assets/img/{{ messageType == 'valids' ? 'validated.jpg' : (messageType == 'errors' ? 'error.webp' : 'alert.png') }}" 
         alt="{{ messageType == 'valids' ? 'Tampon vert avec la mention validated' : (messageType == 'errors' ? 'Losange blanc avec bordure rouge et message error au centre' : 'Image signifiant une alerte') }}"/>
    <ul>
      {% for message in attribute(_context, messageType) %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    </section>
    {% endif %}
    
</section>