<section class="container" id="footer"> 
    <article class="foot-box">
        <div class="timer">
            <p>Temps écoulé: <span id="time">00:00:00</span></p>
            <div class="catCSS">{% include "subpages/_catcss.html.twig" %}</div>
        </div>
        <div class="retour-haut">
            <img id="backToTopButton" class="topButton" src="assets/img/Miaou/retourHautPage.png">
        </div>
    </article>
    <article class="foot-content">
        <div class="footer-flex-container">
            <div class="footer-top">
                <a href="index.php?route=accueil"><img src="assets/img/Miaou/JouerAvecMiaouLogo.png" alt="Logo chat"></a>
                <div class="footer-address">
                    <p></p>
                    <p>9 La Guermonnais</p>
                    <p>35720 Mesnil-Roc'h</p>
                    <div class="footer-tel-container">
                        <i class="fa-sharp fa-solid fa-phone"></i>
                        <p>06.21.03.27.13</p>
                    </div>
                    <div class="footer-mail-container">
                        <i class="fa-solid fa-envelope"><a href="mailto:apprendreavecmiaou@gmail.com"></i>
                        <p>Contact</p>
                    </div>
                </div>
            </div>
            <div class="footer-separation"></div>
            <div class="footer-bottom">
                <div class="footer-nav">
                    <p>Vous êtes sur la page {{titre}}</p>
                    <ul>
                        <li><a href="?route=homepage">Accueil</a></li>
                        <li><a href="?route=drawing">Coloriages</a></li>
                        <li><a href="?route=games">Jeux</a></li>
                        <li><a href="?route=stories">Histoires</a></li>
                    </ul>
                </div>
                <div class="footer-rs-legal">
                    <ul>
                        <li><a href="">Politique de confidentialité</a></li>
                        <li><a href="">Conditions générales de vente</a></li>
                        <li><a href="">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
    <article class="copyright">
        <div>
            <p>&copy; 2024 Apprendre avec Miaou - Laure Bonnevalle</p>
        </div>
    </article>
</section>
{% block javascript %}
    {% if scripts is defined %}
          {% for script in scripts %}
              <script src="{{ script }}"></script>
          {% endfor %}
    {% endif %}
{% endblock %}
