<section id="header">
<div class ="rectangle"></div>
        <img class="avatar" name={{avatar.name}} src={{ avatar.url }} alt={{avatar.description}}></img>
        <h1>Apprendre avec Miaou</h1>
        <div>
        <button class="action-button"><a href="?route=login">Se connecter</a></button>
        <button class="action-button"><a href="?route=register">S'inscrire</a></button>
        </div>
</div>