<nav id="navUser">
    <ul id='navUser-links-container'>
        <li class="action-button"><a href="index.php?route=homepageUser">Ma Page</a></li>
        {#{% if isConnected and isValidate and (isAdmin or isUser) %}#}
        <li class="action-button"><a href="index.php?route=contact">Contact</a></li>   
        <li class="action-button"><a href="index.php?route=stories">Histoires</a></li>
        <li class="action-button"><a href="index.php?route=coloriages">Coloriages</a></li>  
        <li class="action-button"><a href="index.php?route=games">Jeux</a></li>
            
            
            
        {#{% endif %}#}
        {#{%  if isConnected and isValidate and isAdmin %}
            <li class="action-button"><a href="index.php?route=dashboard">Dashboard</a></li>
        {% endif %}#}
    </ul>
</nav>