<nav id="navAdmin">
    <ul id='nav-links-container'>
        <li class="action-button"><a href="index.php?route=homepage">Accueil</a></li>
        <!--<li class="action-button"><a href="index.php?route=login">Login</a></li>-->
       <!-- <li class="action-button"><a href="index.php?route=register">Register</a></li>-->
            
            <li class="action-button"><a href="index.php?route=displayModify">Modifier le mot de passe</a></li>
            <li class="action-button"><a href="index.php?route=games">Jeux</a></li>
            <li class="action-button"><a href="index.php?route=coloriages">Coloriages</a></li>
            <li class="action-button"><a href="index.php?route=stories">Histoires</a></li>
            <li class="action-button"><a href="index.php?route=dashboard">Dashboard</a></li>
    </ul>
</nav>