@charset "UTF-8";
/*

@media only screen and (max-width: 575px) {
// Styles par défaut pour les mobiles
}

@media only screen and (min-width: 576px) {
// Petits appareils (téléphones en mode paysage, 576px et plus)
}

@media only screen and (min-width: 768px) {
// Appareils moyens (tablettes, 768px et plus)
}

@media only screen and (min-width: 992px) {
// Grands appareils (ordinateurs de bureau, 992px et plus)
}

@media only screen and (min-width: 1200px) {
// Très grands appareils (grands écrans d'ordinateurs, 1200px et plus) 
}

*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
#catCSS {
  width: 100%;
}

.cat {
  position: relative;
  height: 65px;
  width: 84.5px;
  margin-top: 2em;
  margin-left: 1em;
}

.ear {
  position: absolute;
  top: -25%;
  height: 60%;
  width: 25%;
  background: #fff;
}
.ear::before, .ear::after {
  content: "";
  position: absolute;
  bottom: 34%;
  height: 10%;
  width: 5%;
  border-radius: 50%;
  background: #161616;
}
.ear::after {
  transform-origin: 50% 100%;
}

.ear--left {
  left: -7%;
  border-radius: 70% 30% 0% 0%/100% 100% 0% 0%;
  transform: rotate(-15deg);
}
.ear--left::before, .ear--left::after {
  right: 10%;
}
.ear--left::after {
  transform: rotate(-45deg);
}

.ear--right {
  right: -7%;
  border-radius: 30% 70% 0% 0%/100% 100% 0% 0%;
  transform: rotate(15deg);
}
.ear--right::before, .ear--right::after {
  left: 10%;
}
.ear--right::after {
  transform: rotate(45deg);
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #161616;
  border-radius: 50%;
}

.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: #fff;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}
.eye::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 0 0 50% 50%/0 0 40% 40%;
  background: #161616;
  animation: blink 4s infinite ease-in;
}
@keyframes blink {
  0% {
    height: 0;
  }
  90% {
    height: 0;
  }
  92.5% {
    height: 100%;
  }
  95% {
    height: 0;
  }
  97.5% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
.eye::before {
  content: "";
  position: absolute;
  top: 60%;
  height: 10%;
  width: 15%;
  background: #fff;
  border-radius: 50%;
}

.eye--left {
  left: 0;
}
.eye--left::before {
  right: -5%;
}

.eye--right {
  right: 0;
}
.eye--right::before {
  left: -5%;
}

.eye-pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background: #161616;
  border-radius: 50%;
  animation: look-around 4s infinite;
}
@keyframes look-around {
  0% {
    transform: translate(0);
  }
  5% {
    transform: translate(50%, -25%);
  }
  10% {
    transform: translate(50%, -25%);
  }
  15% {
    transform: translate(-100%, -25%);
  }
  20% {
    transform: translate(-100%, -25%);
  }
  25% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.eye--left .eye-pupil {
  right: 30%;
}
.eye--right .eye-pupil {
  left: 30%;
}
.eye-pupil::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  height: 20%;
  width: 35%;
  border-radius: 50%;
  background: #fff;
}

.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: #fff;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50%/30% 30% 70% 70%;
}

#header {
  position: fixed;
  top: 2em;
  left: 2em;
  width: 100%;
  z-index: 1000;
  /*.rectangle {

      background-color: coral;
      height : 40vh;
      width: 100vw;
  }*/
  box-sizing: border-box;
  background-image: url("../../img/Miaou/backgroundHeader.jpg");
  background-position: center;
  background-size: cover;
  margin: 1.5rem;
  display: flex;
  height: 30vh;
  width: 97vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  cover: fit-cover;
  border: 4px solid #FF33FF;
  border-radius: 30px;
}
#header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}
#header article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .avatar {
  height: 90%;
}
#header h1 {
  font-family: "Jua", sans-serif;
  font-size: 3.5em;
  font-weight: normal;
}
#header div {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
#header .action-button {
  background-color: #d998fa;
  color: white;
  padding: 2px 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  font-family: "Jua", sans-serif;
  font-size: 1.1em;
  border: none;
  border-bottom: 12px solid #B239ED;
  border-left: 5px solid #B239ED;
  text-shadow: 0px -2px #B239ED;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  border-radius: 30px;
}
#header .action-button a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
}
#header .action-button:hover {
  cursor: pointer;
}
#header .action-button:hover:active {
  cursor: pointer;
  transform: translate(0, 12px);
  -webkit-transform: translate(0, 12px);
  border-bottom: 1px solid #B239ED;
  border-left: 1px;
  float: left;
  margin-bottom: 1.8rem;
}

#footer {
  position: fixed;
  left: 0;
  bottom: -400px;
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: Raleway;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  transition: bottom 1s; /* Transition plus lente */
}
#footer:hover {
  bottom: 0; /* Position lorsqu'on survole */
  transition: bottom 1s; /* Transition plus lente */
}

.container {
  margin: 0 auto;
}

.foot-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1.5em;
  max-height: 110px;
}
.foot-box .timer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}
.foot-box .timer p:first-of-type {
  color: white;
  font-weight: bold;
  font-size: 4em;
  margin-top: 2em;
  padding: 0.8em;
  margin-left: 1em;
  box-shadow: 6px 8px 0px #37474f;
  border: white 2px solid;
  border-radius: 500px;
  font-size: 1em;
  text-align: center;
}
.foot-box .timer span {
  margin-right: 0.2px;
}
.foot-box .timer:nth-of-type(2) {
  width: 50%;
  margin-top: 4em;
  padding-top: 2.5 em;
  margin-right: auto;
}
.foot-box .retour-haut {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 1.8em;
  padding-right: 1em;
}
.foot-box .retour-haut img.topButton {
  width: 65px;
  height: 65px;
}

.foot-content {
  border: 2px solid white;
  border-radius: 60px;
  margin: 0 1.1em 0em;
  padding: 0.5rem;
  height: 5%;
}
.foot-content > div {
  color: white;
}
.foot-content > div .footer-top,
.foot-content > div .footer-bottom {
  display: flex;
  justify-content: center;
}
.foot-content > div .footer-top i,
.foot-content > div .footer-bottom i {
  color: #ec407a;
  font-size: 2rem;
  margin-right: 10px;
}
.foot-content .footer-top {
  padding: 1rem;
}
.foot-content .footer-top > a > img {
  padding-top: 1.5em;
  margin-right: calc(0.8rem + 1vw);
  width: 120px;
  margin-top: -1.5em;
}
.foot-content .footer-top p {
  margin: 0;
  text-align: left;
  font-size: 1rem;
}
.foot-content .footer-top .footer-tel-container,
.foot-content .footer-top .footer-mail-container {
  display: flex;
}
.foot-content .footer-top a {
  text-decoration: none;
  color: white;
}
.foot-content .footer-top .footer-tel-container {
  padding-top: 1rem;
}
.foot-content .footer-separation {
  height: 2px;
  width: 70%;
  margin: auto;
  background-color: white;
}
.foot-content .footer-bottom {
  text-align: left;
  padding-bottom: 0;
  font-size: 1em;
}
.foot-content .footer-bottom .footer-nav,
.foot-content .footer-bottom .footer-rs-legal {
  font-size: 1rem;
  margin: 0.5rem;
}
.foot-content .footer-bottom li {
  list-style: none;
}
.foot-content .footer-bottom a {
  text-decoration: none;
  padding: calc(0.2rem + 0.6vw) 0;
  color: white;
}
.foot-content .footer-bottom a:hover {
  color: #ec407a;
  text-decoration: underline;
}
.foot-content .footer-bottom .copyright {
  display: block;
  height: 20px;
  background-color: white;
  color: white !important;
  text-align: center !important;
  font-size: 10px;
  z-index: 1001;
}
.foot-content .footer-bottom .copyright > div {
  height: 20px;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 576px) {
  .foot-content .footer-bottom .footer-top i,
  .foot-content .footer-bottom .footer-bottom i {
    font-size: 1.6rem;
  }
  .foot-content .footer-bottom .footer-top {
    margin: auto;
  }
  .foot-content .footer-bottom .footer-top > a > img {
    margin-right: 5vw;
    width: 12.5rem;
  }
  .foot-content .footer-bottom .footer-top p {
    font-size: 1.6rem;
  }
  .foot-content .footer-bottom .footer-separation {
    height: 2px;
    width: 85%;
    margin: 0 auto calc(1rem + 2.5vw) auto;
  }
  .foot-content .footer-bottom .footer-bottom {
    text-align: left;
    bordue-bottom: 1px solid white;
  }
  .foot-content .footer-bottom .footer-bottom .footer-nav,
  .foot-content .footer-bottom .footer-bottom .footer-rs-legal {
    font-size: 1rem;
    margin: 0 10vw;
  }
  .foot-content .footer-bottom .footer-bottom .footer-nav i,
  .foot-content .footer-bottom .footer-bottom .footer-rs-legal i {
    font-size: 3.7rem;
    margin: 0 2.8rem 2.8rem 0;
  }
  .foot-content .footer-bottom .footer-bottom i,
  .foot-content .footer-bottom .footer-bottom li {
    padding: 0.5rem 0;
  }
  .foot-content .footer-bottom .footer-copyright p {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  .foot-content .footer-bottom .footer-separation {
    width: 70%;
  }
}
@media only screen and (min-width: 1100px) {
  .foot-content .footer-bottom .footer-flex-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
  }
  .foot-content .footer-bottom .footer-flex-container .footer-top,
  .foot-content .footer-bottom .footer-flex-container .footer-bottom {
    justify-content: space-between;
    margin: 2rem 0;
  }
  .foot-content .footer-bottom .footer-flex-container .footer-top {
    width: 30%;
    margin-top: 5rem;
    padding: 0;
  }
  .foot-content .footer-bottom .footer-flex-container .footer-top > a > img {
    margin-right: 3rem;
    width: 12.5rem;
  }
  .foot-content .footer-bottom .footer-flex-container .footer-top p {
    font-size: 1.6rem;
  }
  .foot-content .footer-bottom .footer-flex-container .footer-top .footer-tel-container i,
  .foot-content .footer-bottom .footer-flex-container .footer-top .footer-mail-container i {
    padding: 0;
  }
  .foot-content .footer-bottom .footer-flex-container .footer-separation {
    display: none;
  }
  .foot-content .footer-bottom .footer-flex-container .footer-bottom {
    width: 55%;
  }
  .foot-content .footer-bottom .footer-flex-container .footer-bottom .footer-nav,
  .foot-content .footer-bottom .footer-flex-container .footer-bottom .footer-rs-legal {
    font-size: 1.6rem;
    margin: 0 4rem;
  }
  .foot-content .footer-bottom .footer-flex-container .footer-bottom .footer-nav i,
  .foot-content .footer-bottom .footer-flex-container .footer-bottom .footer-rs-legal i {
    font-size: 3.7rem;
    margin: 0 2.8rem 2.8rem 0;
  }
  .foot-content .footer-bottom .footer-flex-container .footer-bottom i,
  .foot-content .footer-bottom .footer-flex-container .footer-bottom li {
    padding: 0.5rem 0;
  }
}
#content {
  padding-top: 0;
}

#nav {
  padding-top: 310px;
  width: 103%;
  background-color: black;
  margin-left: -10px;
  margin-top: -10px;
  padding-left: 0;
  padding-right: 0;
}
#nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  padding: 0;
  margin-left: -6px;
  background-color: #000;
  height: 80px;
  width: 100vw;
}
#nav li {
  margin: 0 1rem;
}
#nav .action-button {
  background-color: #d998fa;
  color: white;
  padding: 2px 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  font-family: "Jua", sans-serif;
  font-size: 1.1em;
  border: none;
  border-bottom: 8px solid #B239ED;
  border-left: 5px solid #B239ED;
  text-shadow: 0px -2px #B239ED;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  border-radius: 30px;
}
#nav .action-button a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
}
#nav .action-button:hover {
  cursor: pointer;
  transform: scale(1.5);
}
#nav .action-button:hover:active {
  cursor: pointer;
  transform: scale(1.5);
  transform: translate(0, 12px);
  -webkit-transform: translate(0, 12px);
  border-bottom: 1px solid #B239ED;
  border-left: 1px;
  float: left;
  margin-bottom: 1.8rem;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-cursor {
  cursor: url('"../../img/Miaou/customCursor.png'), auto;
  height: 2rem;
  font-size: 2rem;
}
.custom-cursor .rect {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25%;
  background-color: #000;
}

/*# sourceMappingURL=style.css.map */
