#homepage {
    
    margin-top: 250px;
    padding-top: 10px;
    flex: 1;
    overflow-y: auto; // Permet le défilement vertical
    margin-top: 28vh; // Prend en compte la hauteur du header et de la nav
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-left: -10px;
    z-index: 980;

    // Pseudo-élément pour l'image de fond
    &::before {
        content: "";
        background-image: url("../../img/Miaou/backgroundMain.png");
        background-size: cover; // Ajuste l'image à la taille de l'élément
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; // Place l'image de fond derrière le contenu
    }
    
    .homepage-content {
       text-align: center;
       font-family: "Jua", sans-serif;
       
      h2 {
          font-size : 20vh;
          display: none;
      }
    
        h3{
        font-size: 6vh;
        font-weight: bold;
        }
        >p {
     
        font-weight: normal;
        font-size: 5vh;
        }
        p:nth-of-child(3){
        font-size: 3vh;
        }
      
      
     article {
         background-color: #fff;
         opacity: 0.8;
         height : 27vh;
         width: 80vw;
         margin: auto;
         border-radius: 30px;
         display: flex;
         
    
         
        div {
            margin: 3vh 3vw; 
            text-align: left;
            font-size: 3vh;
        }
    
         
        div:first-of-type {
        display: flex;
        flex-direction: row;
        }
    
    
        img {
        height: 20vh;
        opacity: 1;
        
        }
        
    
    
    
    }  
}
}


   
    
