#register#homepageUser {
    
    //position: fixe;
    //top: 0;
    //bottom: 0;
    padding-top: 10px;
    flex: 1;
    overflow-y: auto; // Permet le défilement vertical
    margin-top: 10vh; // Prend en compte la hauteur du header et de la nav
    position: relative;
    width: 100vw;
    height: 200vh;
    margin-left: -10px;
    z-index: 980;

    // Pseudo-élément pour l'image de fond
    &::before {
        content: "";
        background-image: url("../../img/Miaou/backgroundMain.png");
        background-size: cover; // Ajuste l'image à la taille de l'élément
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; // Place l'image de fond derrière le contenu
    }
    
    
#register-form {
    box-sizing: border-box;
    margin : auto;
    width: 510px;
    height: 600px;
    background-image: url("../assets/img/Miaou/ChatInscription.jpg"); 
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
    background-clip : content-box;
    border: 8px solid #5C5454;
    border-radius : 0 0 20px 20px;
}

fieldset {
    border : 0px solid black;
    margin: auto;
    
   
}
input {
    
    margin : auto;
    
    margin: auto;
    padding : 0.5em;
    background : rgba(255,255,255,0.75);
    border-radius : 20px;
    color : rgba(0,0,0,1);
    border : 0.5px solid black;
    width: 350px;
    box-shadow : inset -5px -5px 5px  grey;
    text-align: center;
}

label {
    font-size : 1.5em;
    font-family : Inter;
}


.button {
    padding : 2em;
    position : center;
    text-align : center;
    
}


.avatar {
    border : 1px solid black;
    border-radius : 20px;
    box-shadow : inset -5px -5px 5px  grey;
    background : rgba(255,255,255,0.75);
    height : 5vh;
    display : block;
    
    width:80%;
}
    
.avatar label {
    font-size : 1.5em;
    font-family : Inter;
}   
    

.avatar input {
    box-shadow : none ;
    text-align: center;
    
    
}

.avatars img {
    opacity : 100%;
     height : 10vh;
   aspect-ratio: 1;
  
}


.radio {
    
    flex-direction : row;
}   
    
}