@import "abstracts/_responsive";
@import "abstracts/_mixins";
@import "abstracts/_varcolors";
@import "components/_catcss";
@import "components/_header";
@import "components/_footer";
@import "components/_headerUser";
@import "components/_navUser";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "components/_home";
@import "components/_homeUser";
@import "components/_nav";
@import "components/_login";
@import "components/_modifyPassword";
@import "components/_coloriage";
@import "components/_histoire";
@import "components/_register";
@import "layout/_homepage";
@import "layout/_homepageUser";
@import "layout/_modifyPasswordpage";
@import "layout/_coloriagespage";
@import "layout/_histoirepage";
@import "layout/_registerpage";




.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-cursor {
  cursor: url('"../../img/Miaou/customCursor.png'), auto;
  height :2rem;
}
    

//* {
  //  box-sizing: border-box;
    //font-size: 2rem;
//}


h1 {

}


#cat404 {
    width: 120vh;
    margin: auto;
    margin-top : 7vh;
    display: flex;
    flex-direction: column;
    
    div{
        flex-direction: column;
        justify-content: center;
    }
    
img {
    width: 100vh;
    margin: auto;
    //margin-left: 5vw;
    }

a {
    
   font-size: 3vh;
   text-align: center;
   margin: auto;
}
}
    

