@import"../components/_headerUser";
@import"../components/_histoire";


#headerUser{
    
}

#histoire-content{
        
       text-align: center;
       font-family: "Jua", sans-serif;
       
       
        h2 {
          font-size : 2rem;
          display: none;
        }
      
    
        a{
        
        
        }
    
        img {
        height: 20vh;
        opacity: 1;
        
        }
    
        p{
    
        }
        }


#footer {
    
}