@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-size: 62.5%;
    font-family : "Jua", sans-serif;
    
    
.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-family : "Jua", sans-serif;
  font-size : 2em;
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 0;
  max-width : 1200px;
    background-color:black;
    
    
}

.rect {
    
}

.content {
    max-width: 1200px;


