@import"../components/_header";
@import"../components/_register";


#header{
    
}

#register-form{
        
       text-align: center;
       font-family: "Jua", sans-serif;
       
       
        h2 {
          font-size : 2rem;
          display: none;
        }
      
    
        a{
        
        
        }
    
        img {
        height: 20vh;
        opacity: 1;
        
        }
    
        p{
    
        }
        }


#footer {
    
}